header.headerContainer
  input.search(type='search', placeholder='search by keyword')
  .functions.pull-right
    a(href='javascript:;'): i.glyphicon.glyphicon-bell
    a(href='javascript:;'): i.glyphicon.glyphicon-fullscreen
    a(href='javascript:;'): i.glyphicon.glyphicon-cog
    a.name(href='javascript:;')
      span vicanso
      i.glyphicon.glyphicon-chevron-down

- importer.import('/css/header.css');