doctype html
html(lang='zh-CN', ng-app='jtApp')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="HandheldFriendly", content="True")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author',content='小墨鱼 vicanso 腻味 tree')
    link(rel='icon', href='#{STATIC_URL_PREFIX}/img/favicon.ico')  
    title #{title}
    include ./inlinejs
    //CSS_FILES_CONTAINER
    if PATTERN
      - importer.import('/component/debug.js');
    - importer.import('/component/bootstrap.css', '/component/jquery.js', '/component/angular.js', '/component/angular-local-storage.js', '/component/sha1.js');

    - importer.import('/service/utils.js', '/service/http_log.js', '/service/debug.js');

    - importer.import('/js/global.js', '/css/global.css', '/js/directive.js', '/service/user.js');

  body(ng-controller='AppController as app')
    block bodyContainer
  include ./login_dialog
  include ./global_variable
  block templateContainer
  script.
    TIMING.end('html');
    TIMING.start('js');
  //JS_FILES_CONTAINER
  script.
    TIMING.end('js');
