doctype html
html(lang='zh-CN', ng-app='jtApp')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="HandheldFriendly", content="True")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author',content='小墨鱼 vicanso 腻味 tree')
    link(rel='icon', href='#{STATIC_URL_PREFIX}/img/favicon.ico')  
    title #{title}
    include ./inlinejs
    //CSS_FILES_CONTAINER
    if PATTERN
      - importer.import('/component/debug.js');
    - importer.import('/component/bootstrap.css', '/component/jquery.js', '/component/angular.js', '/component/angular-local-storage.js', '/component/sha1.js');

    - importer.import('/service/utils.js', '/service/http_log.js', '/service/debug.js');

    - importer.import('/js/global.js', '/css/global.css', '/js/directive.js', '/service/user.js');

  body(ng-controller='AppController as app')
    block bodyContainer
  script#loginDialog(type='text/tpl')
    jt-dialog.dialog.loginDialog(ng-switch='type')
      .title
        span(ng-switch-when='login') 登录
        span(ng-switch-default) 注册
        a.pull-right.destroy(href='javascript:;'): i.glyphicon.glyphicon-remove
      .content
        .input-group
          span.input-group-addon 用户名：
          input.form-control(type='text', placeholder='请输入用户名', ng-model='account')
        .input-group
          span.input-group-addon 密码：
          input.form-control(type='password', placeholder='请输入密码', ng-model='password')

        .alert-danger.alert(ng-bind='error', ng-show='error')
        .alert-info.alert(ng-bind='msg', ng-show='msg')
        .row
          .col-xs-6: a.btn.btn-primary(href='javascript:;', ng-click='submit()', ng-class='{disabled : submiting}') 确定
          .col-xs-6: a.btn.btn-default.destroy(href='javascript:;') 取消
        a.pull-right.mtop10.font12(href='javascript:;', ng-switch-when='login', ng-click='$parent.type = "register"')  注册
        a.pull-right.mtop10.font12(href='javascript:;', ng-switch-default, ng-click='$parent.type = "login"') 登录

  
  include ./global_variable
  block templateContainer
  script.
    TIMING.end('html');
    TIMING.start('js');
  //JS_FILES_CONTAINER
  script.
    TIMING.end('js');
