script#loginDialog(type='text/tpl')
  jt-dialog.dialog.loginDialog(ng-switch='type')
    .title
      span(ng-switch-when='login') 登录
      span(ng-switch-default) 注册
      a.pull-right.destroy(href='javascript:;'): i.glyphicon.glyphicon-remove
    .content
      .input-group
        span.input-group-addon 用户名：
        input.form-control(type='text', placeholder='请输入用户名', ng-model='account')
      .input-group
        span.input-group-addon 密码：
        input.form-control(type='password', placeholder='请输入密码', ng-model='password')

      .alert-danger.alert(ng-bind='error', ng-show='error')
      .alert-info.alert(ng-bind='msg', ng-show='msg')
      .row
        .col-xs-6: a.btn.btn-primary(href='javascript:;', ng-click='!submiting && submit()', ng-class='{disabled : submiting}') 确定
        .col-xs-6: a.btn.btn-default.destroy(href='javascript:;') 取消
      a.pull-right.mtop10.font12(href='javascript:;', ng-switch-when='login', ng-click='$parent.type = "register";$parent.error = ""')  注册
      a.pull-right.mtop10.font12(href='javascript:;', ng-switch-default, ng-click='$parent.type = "login";$parent.error = ""') 登录