nav.navContainer: ul
  li.logo JTDashboard
  li: a(href='javascript:;') 
    i.glyphicon.glyphicon-dashboard
    | Dashboard
  li(class='#{TEMPLATE === "stats/index"? "active" : ""}'): a(href='/stats') 
    i.glyphicon.glyphicon-stats
    | Stats
  li(class='#{TEMPLATE === "log/index"? "active" : ""}'): a(href='/log') 
    i.glyphicon.glyphicon-console
    | Log
  li.hidden(ng-class='{hidden : app.session.anonymous !== false}'): a(href='javascript:;', ng-click='app.logout()') 
    i.glyphicon.glyphicon-log-out
    | LogOut

- importer.import('/css/nav.css');