nav.navContainer: ul
  li.logo JTDashboard
  li.active: a(href='javascript:;') 
    i.glyphicon.glyphicon-dashboard
    | Dashboard
  li: a(href='javascript:;') 
    i.glyphicon.glyphicon-stats
    | Stats
  li: a(href='javascript:;') 
    i.glyphicon.glyphicon-log-out
    | LogOut

- importer.import('/css/nav.css');