nav.navContainer: ul
  li.logo JTDashboard
  li: a(href='javascript:;') 
    i.glyphicon.glyphicon-dashboard
    | Dashboard
  li(class='#{TEMPLATE === "stats"? "active" : ""}'): a(href='javascript:;') 
    i.glyphicon.glyphicon-stats
    | Stats
  li(class='#{TEMPLATE === "log"? "active" : ""}'): a(href='javascript:;') 
    i.glyphicon.glyphicon-console
    | Log
  li: a(href='javascript:;') 
    i.glyphicon.glyphicon-log-out
    | LogOut

- importer.import('/css/nav.css');