extends ./layout
block bodyContainer
  include ./header
  include ./nav
  .dashboardPage(ng-controller='StatsController as stats')
    jt-charts.charts(jt-data='stats.charts')
    //- .jtChart(jt-chart='stats.mem')

  
  - importer.import('/component/c3.css', '/component/d3.js', '/component/c3.js');
  - importer.import('/stats/service.js', '/stats/directive.js', '/stats/controller.js');
  - importer.import('/css/stats.css');