@import 'nib'
@import './constant'

.headerContainer
  position absolute
  left $NAV_WIDTH
  right 0
  top 0
  height $HEADER_HEIGHT
  line-height @height
  background-color #1d3446
  .search
    text-indent 10px
    color #fff
    background-color #32495b
    border none
    outline none
    height 35px
    width 400px
    line-height @height
    margin-top (($HEADER_HEIGHT - @height) / 2)
    border-radius 3px
  .functions
    a
      margin-right 20px
      color #82a2b7
      font-size 20px
      &:hover
        color #fff
    .name
      span 
        color #fff
        font-size 18px
      i
        margin-left 10px
        font-size 12px