@import 'nib'
@import './constant'
html, body
  height 100%
  overflow hidden

LogListCss()
  .logList
    position absolute
    left 10px
    top $HEADER_HEIGHT + 10
    right 10px
    bottom 10px
    border 1px solid #333
    word-wrap break-word
    overflow auto
    padding 5px
    p
      font-size 12px
      line-height 16px
      margin 0
      color #0c0
      font-weight 400
      font-family 'Source Sans Pro',Verdana,Arial,sans-serif
      span
        margin-right 5px
      .topic
        color #ffbb78
        
HeaderCss()
  .headerContainer
    height $HEADER_HEIGHT
    line-height @height
    background-color #1d3446
    .search
      width 400px
      padding-top (($HEADER_HEIGHT - 35) / 2)

        
.logPage
  margin-left $NAV_WIDTH
  height 100%
  position relative
  background-color #111
  HeaderCss()
  LogListCss()