@import 'nib'
@import './constant'
html, body
  height 100%
  overflow hidden
  // visibility hidden

LogListCss()
  .logList
    left 10px
    top $HEADER_HEIGHT + 10
    right 10px
    bottom 10px
    position absolute
    jt-log
      display block
      height 100%
      overflow hidden
      border 1px solid #333
      word-wrap break-word
      padding 5px
      position relative
      &:hover
        .ctrls
          display table
      .msgContainer
        height 100%
        overflow scroll
      p
        font-size 12px
        line-height 16px
        margin 0
        color #0c0
        font-weight 400
        font-family 'Source Sans Pro',Verdana,Arial,sans-serif
        .topic
          margin-right 5px
          color #ffbb78
        .key
          color #d44950
      .ctrls
        display none
        position absolute
        right 5px
        top 5px
        z-index 1
        width 250px
        .ctrl
          cursor pointer
          &.selected
            color #d44950
        
HeaderCss()
  .headerContainer
    height $HEADER_HEIGHT
    line-height @height
    background-color #1d3446
    .search
      padding-top (($HEADER_HEIGHT - 35) / 2)
    .watchTopicList
      margin 0
      padding 0
      padding-top (($HEADER_HEIGHT - 30) / 2)
      li
        float left
        width 150px
        list-style none
        cursor pointer
        margin-right 15px
        &:last-child
          margin-right 0
    .functions
      margin 0
      padding 0
      > li
        cursor pointer
        list-style none
        margin-right 20px
        color #82a2b7
        font-size 16px
        text-align center
        &:hover
          color #fff
        > a
          display block
          width 30px
          color #d0d0d0
          &:hover
            color #fff
          
      .name
        position relative
        &:hover
          .dropdown-menu
            display block
        i
          margin-left 10px
          font-size 12px
          width @font-size
        .dropdown-menu
          left auto
          right 0
          margin-top 0
        
.logPage
  margin-left $NAV_WIDTH
  height 100%
  position relative
  background-color #111
  HeaderCss()
  LogListCss()