@import 'nib'
html, body
  // height 100%
  // overflow hidden
  // visibility hidden
  
$headerHeight = 60px;
$navWidth = 180px;
$logoHeight = 100px;


.jtChart
  margin 20px
  
  // .chartContainer
    

.dashboardPage
  margin-left $navWidth
  margin-top $headerHeight + 20
  // HeaderCss()
  // NavCss()
  // LogoCss()
  
  