@import 'nib'
@import './constant'
html, body
  height 100%
  overflow hidden
  // visibility hidden


NavCss($navHeight)
  .nav
    margin-left 20px
    .dropdown
      margin-top (($HEADER_HEIGHT - $navHeight) / 2)
      > a
        padding 10px 20px
        width 130px
      &:hover
        > a
          background-color #eee
        .dropdown-menu
          display block
HeaderCss()
  .headerContainer
    height $HEADER_HEIGHT
    line-height @height
    background-color #1d3446
    .search
      text-indent 10px
      color #fff
      background-color #32495b
      border none
      outline none
      height 35px
      width 400px
      line-height @height
      margin-top (($HEADER_HEIGHT - @height) / 2)
      border-radius 3px
    .editConfig i
      width 14px
      margin-right 3px
    NavCss 40px
    .functions
      margin 0
      padding 0
      > li
        cursor pointer
        list-style none
        margin-right 20px
        color #82a2b7
        font-size 16px
        text-align center
        &:hover
          color #fff
        > a
          display block
          width 30px
          color #d0d0d0
          &:hover
            color #fff
          
      .name
        position relative
        &:hover
          .dropdown-menu
            display block
        i
          margin-left 10px
          font-size 12px
          width @font-size
        .dropdown-menu
          left auto
          right 0
          margin-top 0
  
JTChartCss()
  jt-charts, jt-chart
    display block

  .jtChart
    border-bottom 1px solid #efefef
    position relative
    &:nth-child(odd)
      background-color #fff
    &:nth-child(even)
      background-color #fcfcfc
    &:hover
      .prev, .next
        display block
    .title
      color #00aac8
    .prev, .next
      display none
      position absolute
      background-color rgba(0, 0, 0, .5)
      left 0
      top 0
      bottom 0
      z-index 1
      cursor pointer
      $ctrlWidth = 30px
      width $ctrlWidth
      &:hover
        background-color rgba(0, 0, 0, .75)
      i
        position absolute
        font-size 16px
        top 50%
        margin-top -(@font-size / 2)
        color #fff
        margin 0 (($ctrlWidth - @font-size) / 2)
    .next
      left auto
      right 0
      

ConditionsCss()
  .conditionsContainer
    position absolute
    padding 5px 20px
    z-index 2
    background-color #f7f7f9
    border-bottom 1px solid #e1e1e8
    
AddStatsDialog()
  .addStatsDialog
    .input-group
      margin-top 15px
    .tips
      margin 5px 0
      color #aaa

.dashboardPage
  margin-left $NAV_WIDTH
  height 100%
  position relative
  &.fullScreen
    margin-left 0
  .chartsContainer
    position absolute
    top $HEADER_HEIGHT
    left 0
    right 0
    bottom 0
    padding 20px
    overflow scroll
    overflow-scrolling touch
    background-color #fff
    &.fullScreen
      top 0
    .restoreScreen
      position absolute
      right 5px
      top 5px
      font-size 18px
      z-index 1
  HeaderCss()
  ConditionsCss()
  JTChartCss()
  AddStatsDialog()
  
  