extends ./layout
block bodyContainer
  include ./menu
  include ./header
  .aboutPage
    .contentContainer
      h4 
        a(href='#JTDashboard') JTDashboard简介
      p 主要是展示JTStats收集的各种数据图表，可以以折线图、柱状图、环形图和表格等。

    .contentContainer
      h4
        a(href='#addConfig') 添加统计配置
      p 通过选择图表类型、时间选择和参数选择来配置不同的统计图表，下面我们来选择最近7天TCP、UDP连接数的统计示例。

      img(src='#{convertImgSrc("/pics/001.png")}')
      
      h5 第一步：选择图表类型
      p 选择图表类型的时候应该根据统计的数据来决定，例如如果想实时的显示CPU使用率，那么应该选择环形图；如果想看各浏览器的占用比，那么可以选择标准饼图。由于我们是统计连接数，因此这里选择的是折线图来展示。

      h5 第二步：时间选择
      ul
        li 时间间隔：它表示展示在图表中的每个点的间隔时间，可以选择的参数为：最近（表示统计数据中的最新的统计点）、1分钟、5分钟、10分钟、30分钟、1小时、2小时、6小时、12小时。
        li 选择日期: 有五个选择项：当天（开始日期0，结束日期0）、7天（开始日期-6，结束日期0）、15天（开始日期-14，结束日期0）、30天（开始日期-29，结束日期0）和当月（开始日期currentMonth,结束日期0）。由上面的规律可以看出，开始日期、结束日期如果为负数，表示多少天前。如果为字符串currentMonth为当月1号，我们可以自己配置更灵活的统计日期间隔。当然，如果我们希望统计特定日期的数据，也可以直接按照：2014-10-01这样的格式来配置开始结束日期。
        li 参数选择：统计类别和分类对应生成统计数据的category和key，主要就是选择希望展示的分类就是了。这里需要介绍的时，选择分类可以通过正则来匹配，例如：假设我的服务器有4个CPU，我想将4个CPU的使用率显示出来（cpu1.busy, cpu2.busy, cup3.busy, cpu4.busy），则可以使用正则：cpu\d\.busy。
        li 保存结果：这只要填上统计名称和统计描述就可以了，很简单。

      img(src='#{convertImgSrc("/pics/002.png")}')

    .contentContainer
      h4
        a(href='#configs') 统计配置的组合
      p 通过将前面配置的统计组合起来，方便分析各种数据之间的关系。如下图所示，选择需要一齐展示的统计配置，输入名称之后就可以生成统计配置组合，在首页中选择展示。
      img(src='#{convertImgSrc("/pics/003.png")}')

      

      
  - fileImporter.import('/stylesheets/about.css');