extends ./layout
block bodyContainer
  include ./menu
  //- include ./header
  .dashboardPage(ng-controller='DashboardController')
    .tabsContainer
      .dropdown.setList
        a(href='javascript:;') 配置列表
          span.caret
        ul.dropdown-menu
          - var items = viewData.globalVariable.setList;
          each item, i in items
            li: a(href='javascript:;', ng-click='add(#{i})') #{item.name}
      ul.tabs
        li(ng-repeat='set in selectedSetList', ng-class='{selected : set.selected}')
          i.fa.fa-close(ng-click='remove(set)')
          a(href='javascript:;', ng-bind='set.name', ng-click='show(set)')

    .chartListContainer
      .chart(ng-repeat='config in configs', jt-chart='config')
  - fileImporter.import('/directives/chart.js');
  - fileImporter.import('/javascripts/dashboard.js', '/stylesheets/dashboard.css');