extends ./layout
block bodyContainer
  include ./menu
  .dashboardPage(ng-controller='DashboardController')
    .tabsContainer
      .dropdown.setList
        a(href='javascript:;') 配置列表
          span.caret
        ul.dropdown-menu
          li(ng-repeat='item in setList')
            a(href='javascript:;', ng-click='add($index)', ng-bind='item.name')
      ul.tabs(ng-switch='selectedSetList.length')
        li(ng-repeat='set in selectedSetList', ng-class='{selected : set.selected}')
          i.fa.fa-close(ng-click='remove(set)')
          a(href='javascript:;', ng-bind='set.name', ng-click='show(set)')
    

    div(jt-table='jtTableTest')
    .chartListContainer
      .chart(ng-repeat='config in configs', jt-chart='config', ng-class='{"col-xs-4" : config.area == 0, "col-xs-6" : config.area == 1, "col-xs-8" : config.area == 2, "col-xs-12" : config.area == 3}')
  - fileImporter.import('/javascripts/dashboard.js', '/stylesheets/dashboard.css');