doctype html
html(lang='zh-CN', ng-app='jtApp')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="HandheldFriendly", content="True")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author',content='小墨鱼 vicanso 腻味 tree')
    title #{title}
    include ./inlinejs
    //CSS_FILES_CONTAINER
    - fileImporter.import(['/stylesheets/bootstrap.css', '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', '/stylesheets/ui.css', '/stylesheets/global.css']);
    - fileImporter.import(['/components/angularjs/angular.js', '/components/script.js/dist/script.js', '/components/angular-local-storage/angular-local-storage.js']);

    - fileImporter.import('/services/utils.js');
    - fileImporter.import('/services/http_log.js');
    - fileImporter.import('/services/user.js');
    - fileImporter.import('/directives/common.js');

    if PATTERN
      - fileImporter.import('/components/debug/dist/debug.js');
    - fileImporter.import('/services/debug.js');


    - fileImporter.import('/javascripts/global.js');

  body
    block bodyContainer
  include ./global_variable
  script.
    window.TIME_LINE.timeEnd('html');
    window.TIME_LINE.time('js');
  //JS_FILES_CONTAINER
  if ENV == 'development'
    script.
      window.IMPORT_FILES = !{JSON.stringify(fileImporter.getFiles('css').concat(fileImporter.getFiles('js')))};
  script.
    window.TIME_LINE.timeEnd('js');
