extends ../layout
block bodyContainer
  include ../nav
  .dashboardPage(ng-controller='StatsController as stats')
    include ./header
    .conditionsContainer.hidden(ng-class='{hidden : stats.conditions.status !== "show"}'): .row
      .col-xs-5: .input-group
        span.input-group-addon 日期：
        input.form-control(type='text', placeholder='YYYY-MM-DD', ng-model='stats.conditions.date')
      .col-xs-4: .input-group
        span.input-group-addon 间隔：
        input.form-control(type='number', placeholder='默认为60，单位秒', ng-model='stats.conditions.interval')
      .col-xs-3
        .btn-group.btn-group-justified
          a.btn.btn-primary(href='javascript:;', ng-click='stats.reload()') 刷新
          a.btn.btn-default(href='javascript:;', ng-click='stats.conditions.status = "hidden"') 关闭


    .chartsContainer
      jt-charts.row(jt-data='stats.charts')


  - importer.import('/component/c3.css', '/component/d3.js', '/component/c3.js');
  - importer.import('/stats/service.js', '/stats/directive.js', '/stats/controller.js');
  - importer.import('/css/stats.css');

block append templateContainer
  script#addStatsDialog(type='text/tpl')
    jt-dialog.dialog.addStatsDialog
      .title 添加Stats配置
        a.pull-right.destroy(href='javascript:;'): i.glyphicon.glyphicon-remove
      .content
        .row
          each statsType in viewData.statsTypeList
            - var name = statsType.name;
            .col-xs-4: .input-group
              span.input-group-addon: input(type='radio', id='statsType_#{name}', name='statsType', value='#{name}', ng-model='type')
              label.form-control(for='statsType_#{name}') #{name}
        .input-group
          span.input-group-addon 名称：
          input.form-control(type='text', ng-model='name', placeholder='请输入该统计的名称')
        .input-group
          span.input-group-addon 类别：
          input.form-control(type='text', ng-model='category', placeholder='请输入统计的类别')
        .input-group
          span.input-group-addon 日期：
          input.form-control(type='text', placeholder='请输入要显示的统计时间', ng-model='date')
        .tips.font12 可支持的日期格式有：'2015-01-10', '2015-01-10:2015-01-20', ['2015-01-17', '2015-01-20'], '8h', '9d'
        .input-group
          span.input-group-addon 时间间隔：
          input.form-control(type='text', placeholder='请输入要显示的统计点的间隔时间', ng-model='interval')
        .alert-danger.alert.mtop15(ng-bind='error', ng-show='error')
        .alert-info.alert.mtop15(ng-bind='msg', ng-show='msg')
        .row.mtop15
          .col-xs-6: a.btn.btn-primary(href='javascript:;', ng-click='!submiting && submit()', ng-class='{disabled : submiting}') 确定
          .col-xs-6: a.btn.btn-default.destroy(href='javascript:;') 取消