@import 'nib'
@import './common'

.addPage
  position absolute
  left $MENU_WIDTH
  top $HEADER_HEIGHT
  right 0
  bottom 0
  overflow-y scroll
  padding 15px
  .configContainer
    margin-bottom 20px
    > div
      height 300px
      padding 4px
      border-radius 4px
      border 1px solid $BORDER_COLOR
      background-color #f7f7f9
    .title
      background-color #1f2025
      color #fff
      margin 0
      padding 5px 10px
      .fa
        margin-right 5px
    .content
      margin 15px
  .typeList
    padding 0
    li
      list-style none
      float left
      width 50%
      padding 8px 0
      cursor pointer
      text-indent 3px
      &:hover
        color #fff
        background-color #3f9dd9
      .fa
        margin-right 5px
      .fa-square-o
        color #1f2025
        margin-right 6px
  .dateSelector
    > *
      margin 15px 0
    input
      display block
      width 100%
  .paramSelector
    .uiSelect
      margin 15px 0
    .btn
      display block
    .btn-group
      width 100%
      margin-bottom 15px
      .btn
        width 33.33%
        display inline-block
  .resultContainer
    > *
      margin 15px 0
    .btn
      display block
  .chart
    height 300px
