@import 'nib'
@import './common'

.configsPage
  $selectedItemsContainerHeight = 150px
  position absolute
  left $MENU_WIDTH + 15px
  top $HEADER_HEIGHT + 15px
  right 15px
  bottom 0
  // padding 15px
  .tableView
    position absolute
    left 0
    right 0
    bottom 0
    top 40px
    overflow-y scroll
    &.shorter
      margin-bottom $selectedItemsContainerHeight + 20px

    .op
      a
        margin-right 10px
        color #444
        &:hover
          color #111
      .fa.selected
        color #d44950

  .previewContainer
    position absolute
    left 15%
    right 15%
    top 10%
    bottom 10%
    .fa-close
      float right
      padding 4px 0
      cursor pointer
      &:hover
        color #d44950
    .content
      position absolute
      left 0
      top 45px
      right 0
      bottom 0
      overflow scroll
      .chart
        height 100%
      .code
        border none
        background-color transparent
  .selectedItemsContainer
    position absolute
    left 0
    right 0
    bottom 0
    margin-bottom 10px
    height $selectedItemsContainerHeight
    overflow hidden
    .error
      color #a94442
    .success
      color #2b542c
    .save
      float right
      width 300px
      margin-top -7px
      margin-right -12px
      a
        color #444
        &:hover
          color #111
    .content
      padding 15px
      height $selectedItemsContainerHeight - 40px
      overflow-y scroll
    .config
      border 1px solid #ddd
      border-left 3px solid #d9534f
      border-radius 3px
      padding 5px 15px
      position relative
      margin-bottom 20px
      .name
        position absolute
        right 0
        top 0
        border-left 1px solid #ddd
        border-bottom 1px solid #ddd
        padding 1px 15px
        background-color #f7f7f9
        color #d44950
      .area
        .selected
          color #d44950

