@import 'nib'
@import './common'
.headerContainer
  background-color #1f2025
  height $HEADER_HEIGHT
  line-height @height
  padding-left $MENU_WIDTH + 20px
  // display none
  .functions
    display inline-block
    font-weight normal
    color #fff
    font-size 14px
    text-decoration none
    &:hover
      .fa
        color #fff
    .fa
      margin-left 5px
      color #6a6b70
  .name
    float right
    color #fff
    margin-right 10px