@import 'nib'

.icon1
  width 128px
  height 128px
  background url(../images/book.png) no-repeat left center

.icon2
  width 128px
  height 128px
  background url(../images/icons/book.png) no-repeat left center

.icon4
  width 128px
  height 128px
  background url(../images/04.png) no-repeat left center